.image-header{
    padding: 2%;
    background-image: url('./images/photo-1485774043635-d42ceede5758.jpeg');
    background-size: cover;
    height: 100vh;
    color: white;
    position: relative;
}
.image-header-text{
    position: absolute;
    top: 40vh;
    left: 10vh;
    color: white;
}
.image-header-header{
    color: white;
}
.image-header-iphone{
    background-image: url('https://images.unsplash.com/photo-1504807959081-3dafd3871909?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    height: 50vh; 
    padding: 8%;
    padding-top: 21%;
    color: white;
    margin-right: 0.5%;
}
.search-bar{
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 100;
}
.text-input{
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    height: 40px;
    text-align: center;
}
.top-contents-iphone{
  margin-top: 50px;
}
.top-contents-iphone > img{
    border-radius: 20px;
}
.header-comments{
    margin: 5%;
    background-color: white;
    padding: 2%;
}
.home-second-about{
    padding-top: 2%;
    padding-top: 60px;
    padding-bottom: 7%;
    width: 70%;
    margin: 0 auto;
}
.guide-register-top{
    background-image: url('https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    height: 100vh;
}
.guide-register-top-left{
    width: 50%;
    position: relative;
}
.guide-register-top-left > h2 {
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-weight: 900;
    font-size: 55px;
}
.guide-register-top-right{
    width: 50%;
    padding: 5%;
}
.guide-register-place{
    background-color: black;
    padding: 5%;
    color: white;
}
.guide-register-middle{
    height: 100vh;
    padding: 5%;
    display: flex;
}
.guide-register-middle-left{
   padding: 3%;
   width: 50%;
}
.guide-register-middle-left > p {
    margin-top: 30px;
    line-height: 35px;
}
.guide-register-middle-right{
  padding: 4%;
  width: 50%;
}
.guide-register-middle-right-form{
    padding: 5%;
    width: 100%;
    box-shadow: 0px 1px 16px -6px rgba(0,0,0,0.6);
}
.guide-header-comments{
    background-color: white;
    margin: 6%;
    padding: 2%;
    border-radius: 20px;
}
.confirm-page{
    padding: 5%;
    display: flex;
    width: 100%;
}
.confirm-left{
    width: 50%;
    padding: 4%;
}
.confirm-right{
    width: 50%;
}
.confirm-right-card-first{
   display: flex;
}
.guide-step{
 text-align: center;
 padding-top: 6%;
}
.guide-register{
    text-align: center;
    padding-top: 6%;
}
.footer-image{
    background-image: url('https://images.unsplash.com/photo-1543722530-d2c3201371e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    height: 50vh;
}
.footer-image-text{
   margin: 6%;
}
.guide-list-image{
    background-image: url('https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    height: 70vh;
}
.guide-list-image .text{
    color: white;
    margin-left: 60%;
    margin-right: 5%;
    margin-top: 6%;
}
.guide-list-container{
    text-align: center;
    padding-top: 5%;
}
.guide-list-place{
    background-color: #EEE;
    color: #777;
    padding: 5%;
}
.guidelist-card{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}
.guide-list-button{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #51BAA4;
    color: #51BAA4 !important;
    padding: 2% 6%;
    color: #51BAA4;
    border-radius: 20px;
    border: none;
}
.guide-list-other{
    padding: 3%;
    width: 90%;
    margin: 0 auto;
    width: 100%;
}
.guide-list-other-cards{
    display: flex;
    width: 100%;
}
.guide-list-other-card{
    width: 25%;
    padding: 2%;
}
.guide-card{
    text-align: left;
    margin-top: 30px;
}
.message-screen{
    width: 70%;
    margin: 0 auto;
}
.mychat-design{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.userchat-design{
  border: 2px solid #dedede;
  border-color: #ccc;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.chat-left{
    text-align: left;
}
.chat-right{
    text-align: right;
}
.card-iphone-image{
    margin-bottom: 15px;
    height: 46vh;
    border: 1px solid ;
    border-radius: 30px;
    border-color: lightgrey;
    width: 100%;
}
.card-iphone-image > img{
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    height: 33vh;
}
.iphone-container{
    width: 100%;
    margin-left: 25px;
    display:flex;
    scroll-snap-type: x mandatory;
    overflow: auto;
}
.iphone-container-guide-list{
    width: 95%;
    margin-left: 2%;
}
.card-iphone{
    height: 40vh;
    border: 1px solid lightgrey;
    border-radius: 30px;
    width: inherit;
    width: 78%;
    margin: 20px 14px;
    scroll-snap-align: start;
    flex: none;
    color: black;
}
.card-iphone-title{
    width: 100%;
}
.card-iphone-title > img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 30vh;
}
.card-iphone-content{
    padding: 5%;
}
.card-iphone-content > p{
    color: lightgrey;
    font-weight: 300;
}
.text-lightgrey{
    color: lightgrey;
}
.pickedUp{
   background-color: #fbfbf8;
   padding: 4%;
}
.pickedHeader{
   margin-bottom: 40px;
}
.home-image{
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 10%;
    padding-top: 1%;
}
.home-image > h2{
    color: white;
    margin: 0;
    padding-top: 7%;
    padding-left: 3%;
    font-weight: 800;
    font-size: 45px;
}
.overflow-auto{
   height: 70vh;
}
.panel-footer{
    margin-top: 15px;
}
.profile-page{
    margin-top: 40px;
    margin-bottom: 60px;
}
.profile-header{
    display: flex;
    justify-content: space-between;
    height: 25vh;
}
.unique-experience{
    background-color: black;
    color: white;
    padding: 7%;
}
.unique-experience-body{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.unique-experience-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.profile-header-text{
    padding: 5%;
}
.profile-header-image{
   height: inherit;
   text-align: right;
   padding: 5%;
   display: initial;
}
.profile-header-image > img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 20px;
}
.profile-introduction{
    padding: 5%;
}
.profile-introduction > h1 {
    margin-bottom: 25px;
}
.profile-introduction > p {
    font-size: 22px;
}
.profile-rating{
    padding: 5%;
}
.profile-rating > p{
    font-size: 22px;
    text-underline-position: below;
}
.profile-detail{
    text-align: left;
}
.profile-icon{
  margin-right: 30px;
}
.profile-avatar{
    margin-bottom: 60px;
}
.google-map{
    height: 80vh;
    margin-top: 80px;
}
.google-map > h2 {
    margin-bottom: 30px;
}
.google-map-button {
    margin-top: 40px;
    height: 30px;
    align-items: baseline;
    color: #ff3f3f;
    border: 1px solid #ececec;
    border-radius: 1.5em;
    cursor: pointer;
    user-select: none;
    padding: 1%;
}
.guide-pickup-images{
    height: 75vh;
    margin: 40px 0;
}
.guide-pickup-image1{
    height: 60vh;
    background-size: cover;
    position: relative;
}
.text-buttons{
    display: flex;
    justify-content: space-between;
}
.guide-pickup-image .text{
    margin: 4%;
    height: 15vh;
}
.guide-pickup-image2{
  height: 35vh;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
}
.guide-pickup-image2 > h2{
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 10%;
    left: 4%;  
}
.guide-pickup-image2 > p{
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: 300;
    bottom: 5%;
    left: 4%;  
}
.guide-pickup-image3{
    height: 45vh;
    background-size: cover;
    position: relative;
}
.guide-pickup-image3 > h2{
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 10%;
    left: 4%;  
}
.guide-pickup-image1 > h2 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 10%;
    left: 4%;
}
.guide-pickup-image1 > p{
    position: absolute;
    color: white;
    font-size: 15px;
    bottom: 3%;
    left: 5%;
}
.message-button-list{
    margin-top: 40px;
    width: 100%;
}
.list-header{
    width: 100%;
    margin-top: 40px;
    padding-left: 10%;
}
.guide-item{
    margin-top: 70px;
}
.footer-list-image{
    height: 30vh;
    background-size: cover;
    margin-top: 50px;
    padding-top: 8%;
    padding-left: 5%;
    color: white;
    font-size: 40px;
}
.alert{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    height: fit-content;
    padding-bottom: 6%;
}
.map-button{
    position: fixed;
    top: 80%;
    width: 30%;
    margin-left: 35%;
    z-index: 100;
}
.guide-image-header-iphone{
    background-image: url('https://images.unsplash.com/photo-1579667438287-06b2894ae7ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    position: relative;
    height: 50vh;
}
.guide-header-comments-iphone{
    position: absolute;
    top: 35vh;
    left: 40px;
    color: white;
}
.guide-step-iphone{
    padding: 3%;
}
.step1{
    padding: 3%;
    margin-bottom: 20px;
}
.first-guide-form{
    margin-top: 30px;
    padding: 3%;
}
.payment-section{
    padding: 3%;
    margin-top: 30px;
    margin-bottom: 80px;
}
.guide-setting-page{
    padding: 3%;
}
.guide-setting-page .header{
    padding-left: 3%;
}
.guide-list-image-iphone{
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    height: 50vh;
}
.guide-list-image-text-iphone{
    position: absolute;
    top: 15vh;
    left: 10%;
    color: white;
    padding: 3%;
}
.search-bar-iphone{
    margin-top: 40px;
    margin-bottom: 30px;
    height: 100px;
}
.destination-iphone{
    display: flex;
    margin: 20px 0;
    width: 90%;
}
.alert-guide-list{
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 3%;
}
.destination-list{
    margin-top: 40px;
    max-height: 470px;
    overflow-x: auto !important;
    display: flex !important;
    flex-wrap: wrap !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
    scroll-snap-type: x mandatory !important;
}
.destination-list-laptop{
    margin-top: 40px;
    max-height: 600px;
    overflow-x: auto !important;
    display: flex !important;
    flex-wrap: wrap !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
    scroll-snap-type: x mandatory !important;
}
.destination-iphone:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.search-bar-design{
    height: 44px;
    align-items: center;
    border-radius: 30px;
    width: 80%;
    margin-left: 15px;
    border-color: lightgrey;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding-left: 5%;
}
.other-experience{
    padding: 3%;
    margin-top: 30px;
}
.chat-payment{
    padding: 3%;
}
.unique-list{
    display: flex;
    margin-bottom: 40px;
    width: 100%;
}
.unique-list-card{
    border-radius: 30px;
    margin: 10px;
    margin-top: 30px;
    border: solid 2px rgba(0,0,0,0.05);
}
.unique-list-card-title > img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: auto;
}
.unique-list-card-content {
    padding: 5%;
}
.unique-list-card-content > p{
    color: lightgrey;
}
.our-aim{
    padding: 3%;
    margin-top: 30px;
    display: flex;
}
.finish-message{
    width: 90%;
    margin: 0 auto;
    background-color: lightgrey;
}
.header-iphone-search-bar{
    height: 70px;
    padding: 10px;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.search {
    width: 90%;
    margin: 0 auto;
    height: 50px;
    background-color: rgba(0,0,0,0.03);
    border-radius: 15px;
    display: flex;
}
.search-input {
    padding: 0 10px;
    width: 86%;
    background-color: rgba(0,0,0,0.03);
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
    border: none;
}

.search .search-input {
    padding: 0 10px;
    width: 90%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    width: 44px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.search-icon:hover {
    color: #fff !important
}
.guide-detail-content{
    margin-top: 40px;
    padding: 0 3%;
}
.guide-detail-content-header{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.guide-detail-bottom{
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
}
.guide-review{
    min-height: 150px;
}
.guide-review-cards{
    width: 100%;
    margin-left: 5px;
    display:flex;
    scroll-snap-type: x mandatory;
    overflow: auto;
}
.guide-review-card{
    height: 20vh;
    border: 1px solid lightgrey;
    border-radius: 30px;
    width: inherit;
    width: 88%;
    margin: 20px 14px;
    scroll-snap-align: start;
    flex: none;
    color: black;
    padding: 5%;
}
.report{
    padding: 5%;
    height: 6vh;
    text-align: center;
}
.contact-guide{
    padding: 3%;
    height: 25vh;
    margin-bottom: 30px;
}
.guide-register-explain{
    background-color: #fbfbf8;
    padding: 5%;
}