.location-page{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}
.location-left{
    width: 70%;
    padding: 3%;
}
.location-right{
    width: 30%;
    height: 93vh;
}
.location-left-iphone{
    padding: 3%;
    padding-top: 7%;
}
.location-showup{
    width: 90%;
    margin: 0 auto;
    height: 80vh;
}
.location-iphone-header{
    text-align: center;
    margin-top: 30px;
}
.displayNone{
    display: none;
}
.info-text:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.favorite-page{
    padding: 3%;
}
.favorite-card{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
.favorite-card-title > img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: auto;
}
.favorite-content{
    padding: 3%;
}
.logout-section{
    margin-bottom: 30px;
}
.meta > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.guide-card-content{
    padding: 3%;
}