.header-next{
    display: flex;
    text-align: center;
    padding: 2% 30%;
    justify-content: space-between;
    background-color: #fbfbf8;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 90;
}
.sticky-footer{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 2% 5%;
    z-index: 100;
    color: grey;
}
.footer-icon{
    width: 20%;
    text-align: center;
    align-items: center;
}
.image-scroll{
    max-height: 50vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100%;
}
.image-scroll-card{
    border: solid 2px lightgrey;
    border-radius: 30px;
    margin-bottom: 30px;
    scroll-snap-align: start;
    flex: none;
    width: 100%;
}
.image > img {
   width: 100%;
   height: auto;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}
.image-scroll-card .content{
    height: 80px;
    padding: 5%;
}
.search-bar{
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 50px;
}
.search-bar-iphone{
    background-color: white;
    width: 100%;
    height: 55px;
    padding-top:3%;
}